# Build folders
build/
out/
bin/
obj/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio
.vs/
*.sln
*.vcxproj*
*.user
*.pdb
*.ilk
*.suo

# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Large datasets (optional)
data/*.ply
!data/test*.ply